
.dashboard_contents{
    display: flex;
    gap:40px;
}
.driverAdd-and_list{
    width:60%;
}
.driverAdd-and_list{
    display:flex;
    flex-direction: column;
    gap:50px
}
.add-driver{
    align-self:flex-start;
}
.add-driver div{
    border-radius: 18px;
    background-color: rgb(155, 155, 248);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:110px;
    padding: 8px 25px;
    font-size: 1rem;
    color:white;
    font-size:0.9rem
    
}
.active-inactive-driver{
    display:flex;
    justify-content:flex-end
}

.active-inactive-driver span input{
width:47px;
padding:0px 10px;
margin-left:2px;
}
.active-inactive-driver h2{
    border-radius: 16px;
    padding: 5px 18px;
    font-size:0.7rem;
}
.driver-list{
    border:1px solid rgb(158, 157, 157);
    border-radius:8px ;
    box-shadow:-6px 6px 13px rgb(190, 190, 190);
    padding:15px 20px;
    display: flex;
    flex-direction: column;
    gap:30px;
    overflow-y:auto;
    height:320px;
    width:840px
}
.driver-listtable td{
    padding:15px 0;
}
.driver-listtable th{
    padding:5px 0 15px 0;
    border-bottom: 1px solid grey;
}